.contact{
    width: 100%;
    max-width: 300px;
    position: absolute;
    /* background-color:rgba(116, 197, 213, 0.909); */
    display: grid;
    align-items: center;
    justify-content: center;
}
.contact div{
    margin-bottom: 5px;
    font-size: 18px;
    font-family: sans-serif;
    display: flex;
}
.contact div i{
    padding-right: 10px;
}
.contact div a{
    text-decoration: none;
    color: black;
}
.fa-phone, .fa-whatsapp{
    color: green;
}
.fa-facebook{
    color: blue;
}
.fa-instagram{
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}